<nav class="navbar navbar-expand-lg" style="background:#f5f5f5;">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'selecionar_estoque' %}" style="font-weight: 600; letter-spacing: 2px;">
            {% if estoque_atual %}
                CONTROLE DE ESTOQUE - {{ estoque_atual.nome|upper }}
            {% else %}
                CONTROLE DE ESTOQUE
            {% endif %}
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'usuario_configuracao' %}" style="text-transform: uppercase; color: #bbb;">{{ user.username }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}" style="color: #bbb;">DESCONECTAR</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Conectar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'cadastro' %}">Registrar-se</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>